<head>
<style>
body {
    font-family: gotham;
}
h1 {
    color: #211382;
}
p {
    color: grey;
    font-size: 14px;
    margin: 10px; 
}

a {
    text-decoration: none;  
    color: #403e3e;
    text-align: center;
}

.home{
    font-size:12px;
}

img {
    width:  250px;
}
</style>
</head>


<h1>Cats#edit</h1>
<p>Find me in app/views/cats/edit.html.erb</p>
<h3>Update Cat Details</h3>
<%= form_with model: @cat do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :motto, placeholder: "motto" %>
  <%= form.text_field :weight, placeholder: "weight" %>
  <%= form.text_field :age, placeholder: "age" %>
  <%= form.text_field :fur, placeholder: "fur color" %>

<br>
  <h3><%= form.label "Edit Profile Photo"%></h3>
  <%= form.file_field :avatar %>
<br>
  <% if @cat.avatar.attached? %>
    <image src="<%=(url_for(@cat.avatar))%>">
<% end %>
<br>
  <%= form.submit %>
<% end %> 