<head>
<style>
body {
    font-family: gotham;
}
h1 {
    color: #211382;
}
p {
    color: grey;
    font-size: 14px;
    margin: 10px; 
}
.rmv{
    width: 150px;
    /* height: 2px; */
    border-radius: 6px;
    margin: 10px 0px;
    background-color: #c9b5f7;
    padding: 6px;
    text-align: center;
    font-size: 14px;
}
a {
    text-decoration: none;  
    color: #403e3e;
    text-align: center;
}
.home{
    font-size:12px;
}

img {
    width:  250px;
}

h3{
    margin-top: 5px;
}

.main{
    padding: 8px;
    border-radius: 8px;
    border: 2px dotted #d4d4d4;
    width: 400px;
    text-align: left;
}
</style>
</head>
<div class="home">
<a href="http://localhost:3000/cats/"> < Back to Home</a>
</div>

<h1>Adopt Me</h1>
<p>I want to live in a nice home and eat yummy food</p>
<div class="main">
<h3>Name: <%= @cat.name %></h2>
<p>My Motto: "<%= @cat.motto %>"</p>
<p>Weight: "<%= @cat.weight %>"</p>
<p>Age: "<%= @cat.age %>"</p>
<p>Fur: "<%= @cat.fur %>"</p>
<% if @cat.avatar.attached? %>
    <image src="<%=(url_for(@cat.avatar))%>">
<% end %>
<div class="rmv">
   <%= link_to "Edit", edit_cat_path(@cat)  %>
</div>

<div class="rmv">
<%= link_to 'Remove', @cat, method: :delete, data: { confirm: 'Are you sure?'} %>
</div>
</div>

